<% content_for :title do %>
    Administratie - Beatfuel.be
<% end %>
<% content_for :header do %>
    <h1><i class="fa fa-lock"></i><br />Administratie</h1>
    <%= render("admins/nav") %>
<% end %>

<!-- Intro -->
<div id="about" class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h1><i class="fa fa-music"></i><br />Overzicht mixtapes</h1>
        <hr/>
      </div>


      <div id="search" class="search">
        <div class="container">
          <div class="row">

            <% @users.each do |user| %>
                <% if !user.mixtapes.blank? %>
                <div class="col-md-4">
                  <div class="search-item">
                      <%= image_tag("http://graph.facebook.com/#{user.uid}/picture?type=normal") %>
                    <ul>

                        <li><i class="search-icon fa fa-user"></i> <%= link_to user.name, user %></li>
                        <li><i class="search-icon fa fa-music"></i> Mixtapes:</li>
                        <% user.mixtapes.each do |mix| %>
                          <li><%= mix.title %> <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, admin_path(mix.id), :confirm => 'Are you sure you want to delete this mixtape', :method => :delete %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <% end %>
            <% end %>

          </div>
          <section class="vert-text-littlemargin">
            <a class="btn btn-blue" href="#register">Toon de 20 andere</a>
          </section>
        </div>
      </div>

    </div>
  </div>
</div>