<%= stylesheet_link_tag 'audio_playlist', 'application', media: 'all' %>
<%= javascript_include_tag "audio.min", "data-turbolinks-track" => true %>
<%= javascript_include_tag "playlist", "data-turbolinks-track" => true %>
<% content_for :title do %>
    Bewerk profiel - Beatfuel.be
<% end %>
<% content_for :header do %>
    <h1>Profiel bewerken</h1>

<% end %>
<div id="profile_about" class="profile_about">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="col-md-6">
          <%= render 'form' %>
            <% form_for @user, :html => {:multipart => true} do |f| %>

            <%end%>

          <img src="img/DJ_profiel.png"/>
          <img src="img/DJ_profiel.png"/>
          <img src="img/DJ_profiel.png"/>
          <img src="img/DJ_profiel.png"/>
          <img src="img/DJ_profiel.png"/>
          <img src="img/DJ_profiel.png"/>
          <img src="img/DJ_profiel.png"/>
          <a href="#"><img src="img/add_picture.png"/></a>
          <div class="clear"></div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <h1>Mixtapes</h1>


          <% if !@user.mixtapes.blank? %>
          <div id="audiojs_wrapper0" classname="audiojs" class="audiojs  ">
            <audio src="/mixtapes/<%= @user.uid %>/<%= @user.mixtapes.first.src %>" preload=""></audio>
            <div class="play-pause"><p class="play"></p><p class="pause"></p><p class="loading"></p><p class="error"></p>
            </div><div class="scrubber"><div style="width: 100%;" class="progress"></div><div style="width: 100%;" class="loaded"></div>      </div>
            <div class="time"><em class="played">00:01</em>/<strong class="duration">03:56</strong></div>
            <div class="error-message"></div></div>
          <ol>
            <% @user.mixtapes.each do |mix| %>
                <li><a href="#" data-src="/mixtapes/<%= @user.uid %>/<%= mix.src %>"><%= mix.title %></a></li>
            <% end %>
          </ol>
          <% else %>
              Geen mixtapes beschikbaar
          <% end %>
          <%= form_tag upload_index_path, :multipart => true do %>
              <%= file_field 'mp3file', 'datafile' %>

              <%= submit_tag "Nummer toevoegen" %>
          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>