<%= stylesheet_link_tag 'audio_playlist', 'application', media: 'all' %>
<%= javascript_include_tag "audio.min", "data-turbolinks-track" => true %>
<%= javascript_include_tag "playlist", "data-turbolinks-track" => true %>

<% content_for :title do %>
    Bewerk profiel - Beatfuel.be
<% end %>
<% content_for :header do %>
    <h1>Profiel bewerken</h1>
<% end %>
<div id="profile_about" class="profile_about">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="col-md-6">
          <%= render 'form' %>
          <div class="clear"></div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <h1>Mixtapes</h1>
          <% if !@user.mixtapes.blank? %>
                  <ul>
                    <% @user.mixtapes.each do |mix| %>
                        <li><%= mix.title %> <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, usermix_path(mix.id), :confirm => 'Zeker dat u deze mixtape wil verwijderen?', :method => :delete %></li>
                    <% end %>
                  </ul>
          <% else %>
              Nog geen mixtapes beschikbaar
          <% end %>
          <%= form_tag upload_index_path, :multipart => true do %>

              <%= file_field 'mp3file', 'datafile',
                             :data => {
                                     :max_file_size => 5.megabytes
                             } %>
              <input name='commit' type='submit' value='Nummer toevoegen' data-confirm="Zeker dat u deze mixtape wilt toevoegen?">

          <% end %>

          <h2>Afbeeldingen verwijderen</h2>
          <% if !@user.user_images.blank? %>
              <% @user.user_images.each do |img| %>
                  <a href="/images/<%= @user.uid %>/<%= img.image_url %>">
                   <img src="/images/<%= @user.uid %>/<%= img.image_url %>"><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, userimg_path(img.id), :confirm => 'Zeker dat u deze mixtape wilt verwijderen?', :method => :delete %></img>
                  </a>
              <% end %>

          <% else %>
              Nog geen afbeeldingen beschikbaar
          <% end %>
          <h2>Afbeeldingen toevoegen</h2>

          <%= form_tag uploadimage_index_path, :multipart => true do %>
              <%= file_field 'imgfile', 'datafile',
                             :data => {
                                     :max_file_size => 5.megabytes
                             } %>
              <%= submit_tag "Afbeelding toevoegen", :confirm => 'Zeker dat u deze afbeelding wilt toevoegen?'%>
          <% end %>


        </div>

      </div>

    </div>
  </div>
</div>