<% content_for :title do %>
    Overzicht artiesten - Beatfuel.be
<% end %>
<% content_for :header do %>
    <h1>Er werden <%= @users.count %> DJ's bij u in de buurt gevonden</h1>
    <h2>Verfijn uw zoekactie op basis van locatie</h2>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav-pills nav navbar pull-left">
        <li>
          <a href="#">Overal</a>
        </li>
        <li class="active">
          <a href="#">Regio</a>
        </li>
        <li>
          <a href="#">In de buurt</a>
        </li>
      </ul>
    </div>

    <select onchange="print_state('state',this.selectedIndex);" id="country" name = "country"></select> <br />
    Regio:
    <select name ="state" id = "state"></select>
    <script type="text/javascript">print_country("country");</script>
<% end %>
<div id="search" class="search">
  <div class="container">
    <div class="row">

      <% @users.each do |user| %>
      <div class="col-md-4">
        <div class="search-item">
          <a href="sounds/Avicii - Wake Me Up (Official Video).mp3" class="sm2_button">
            <%= image_tag("http://graph.facebook.com/#{user.uid}/picture?type=normal") %>
          </a>
          <ul>
            <li>
              <i class="search-icon fa fa-user"></i> <%= link_to user.name, user %>
            </li>
            <li>
              <i class="search-icon fa fa-headphones"></i>  <%= user.mixtapes.count %> Mixtapes
            </li>
            <li>
              <i class="search-icon fa fa-thumbs-up"></i>
              <% if !user.recommendations.blank? %>
              <%= user.recommendations.first.amount %>
              <%else%>
              0
              <%end%> Recommendaties
            </li>
            <li>
              <i class="search-icon fa fa-location-arrow"></i>  <%= user.location %>
            </li>
          </ul>
        </div>
      </div>
      <% end %>

    </div>
    <section class="vert-text-littlemargin">
      <a class="btn btn-blue" href="#register">Toon de 20 andere</a>
    </section>
  </div>
</div>
<%= javascript_include_tag 'countries' %>