<%= stylesheet_link_tag 'audio_playlist', 'application', media: 'all' %>
<%= javascript_include_tag "audio.min", "data-turbolinks-track" => true %>
<%= javascript_include_tag "playlist", "data-turbolinks-track" => true %>
<% content_for :title do %>
    <%= @user.name %> - Beatfuel.be
<% end %>
<% content_for :header do %>
    <section class="profile">

      <!-- Eerste element van de portfolio-->
      <div id="slidingDiv" class="toggleDiv">
        <div class="col-md-4">
          <%= image_tag("http://graph.facebook.com/#{@user.uid}/picture?type=large", :class => "img-responsive border") %>
        </div>

        <div class="col-md-6">
          <h1><%= @user.name %></h1>
          <h2><%= @user.user_information.slogan %></h2>
          <ul class="left">
            <li><i class="fa fa-compass"></i> <%= @user.location %></li>
            <li><i class="fa fa-tags"></i> <%= @user.user_information.music_genre %></li>
            <li><i class="fa fa-thumbs-up"></i>
              <% if !@user.recommendations.blank? %>
                  <%= @user.recommendations.first.amount %>
              <%else%>
                  0
              <%end%> Recommendaties
             </li>

          </ul>
        </div>

        <div class="col-md-2">
          <ul>

            <% if current_user && !has_recommended(@user.id)  %>
            <li>
              <%= form_tag recommendations_path, :id => 'recommend' do %>
                  <%= hidden_field_tag 'profile_id', @user.id %>
                  <%= link_to '<i class="fa fa-heart"></i> Aanraden'.html_safe, "#", :onclick => "$('#recommend').submit()", :class => "btn btn-yellow" %>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>

    </section>
<% end %>
<div id="profile_about" class="profile_about">
  <div class="container">
    <div class="row">
      <!--Als je ze smaller tegen elkaar wil gebruik je md2 en zet je ook een col-md-offset-2 voor margin ;) -->
      <div class="col-md-12">
        <div class="col-md-6">
          <h1>Over <%= @user.name %></h1>
          <p><%= @user.user_information.about %></p>
          <h2>Afbeeldingen</h2>


          <% if !@user.user_images.blank? %>
          <% @user.user_images.each do |img| %>

              <img src="/images/<%= @user.uid %>/<%= img.image_url %>"></img>

          <% end %>

          <% else %>
              Geen afbeeldingen beschikbaar
          <% end %>



          <div class="clear"></div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <h1>Mixtapes</h1>


          <% if !@user.mixtapes.blank? %>
          <div id="audiojs_wrapper0" classname="audiojs" class="audiojs  ">
            <audio src="/mixtapes/<%= @user.uid %>/<%= @user.mixtapes.first.src %>" preload=""></audio>
            <div class="play-pause"><p class="play"></p><p class="pause"></p><p class="loading"></p><p class="error"></p>
            </div><div class="scrubber"><div style="width: 100%;" class="progress"></div><div style="width: 100%;" class="loaded"></div>      </div>
            <div class="time"><em class="played">00:01</em>/<strong class="duration">03:56</strong></div>
            <div class="error-message"></div></div>
          <ol>
            <% @user.mixtapes.each do |mix| %>
                <li><a href="#" data-src="/mixtapes/<%= @user.uid %>/<%= mix.src %>"><%= mix.title %></a></li>
            <% end %>
          </ol>
          <% else %>
                Geen mixtapes beschikbaar
          <% end %>

        </div>

      </div>

    </div>
  </div>
</div>