<% content_for :title do %>
    Maak connecties &amp; ontdek je kansen - Beatfuel.be
<% end %>
<% content_for :header do %>
    <div class="col-md-6 col-md-offset-3 text-center">
    <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
            <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            </div>
        <% end %>
    <% end %>
    </div>
    <div class="clear"></div>
    <h1>Maak connecties & ontdek je kansen</h1>
    <h2>Bereik meer<em> fans</em>, krijg meer<em> draaitijd</em> &amp; geniet van je succes!</h2>
    <a class="btn btn-normal" href="#about">Ontdek meer</a>
    <% if !current_user %>
    <a class="btn btn-blue" href="#register">Registreer nu</a>
    <% end %>
<% end %>

<!-- Intro -->
<div id="about" class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h1>Ontdek meer over Beatfuel</h1>
        <h3 class="eyecatch">Startup-DJ's helpen, dat is onze bedoeling...</h3>
        <hr/>
      </div>
      <div class="col-lg-6 col-md-6">
        <h3>
          <i class="fa fa-music"></i>
          Upload uw Beatfuel Mixtapes
        </h3>
        <p>
          Beatfuel laat toe om uw eigen mixtapes up te loaden zodat deze beschikbaar worden voor het grote publiek. Wanneer anderen uw mixtapes goed vinden zullen ze jou aanraden als DJ voor uw bepaalde genre.
        </p>
      </div>


      <div class="col-lg-6 col-md-6">
        <h3>
          <i class="fa fa-comments"></i>
          Vertel wat over jezelf
        </h3>
        <p>
          Vertel wat meer over jezelf zodat anderen weten wat ze van u kunnen verwachten. Verzin ook een slogan die past bij jou als DJ + zorg ervoor dat anderen uw muziekgenre te zien krijgen!
        </p>
      </div>

      <div class="col-lg-6 col-md-6">
        <h3>
          <i class="fa fa-camera"></i>
          Upload enkele party sfeerfoto's
        </h3>
        <p>
          Deel uw ervaring met de anderen aan de hand van uw persoonlijke sfeerfoto's. Op deze manier heb je 1 centrale plaats om al uw party pics bij te houden!
        </p>
      </div>

      <div class="col-lg-6 col-md-6">
        <h3>
          <i class="fa fa-compass"></i>
              Zoek DJ's in de buurt
        </h3>
        <p>
          Op basis van uw locatie kunt u DJ's gaan zoeken die zich in de buurt bevinden. Neem contact op en breid uw kennis en vriendenkring als DJ uit.
        </p>
      </div>


    </div>
  </div>
</div>
<!-- /Intro -->
<!-- Callout -->
<div class="callout">
  <div class="vert-text">
    <h1 class="quote">"As a DJ, people expect a certain sound and a certain danceability for the music. As a producer, I really like to let go of any rules that may exist."</h1>
    <h1 class="quote">"Being DJ... It's all about the love!"</h1>
    <h1 class="quote">"One of the best things about music, it has NO rules!"</h1>
    <h1 class="quote">"There are people who play records and there are DJ's who blow minds"</h1>
  </div>
  <div class="col-md-11 text-right">
    <h2 class="author">-Armin van Buuren</h2>
    <h2 class="author">-Hardwell</h2>
    <h2 class="author">-Alesso</h2>
    <h2 class="author">-Eddie Halliwell</h2>
  </div>
</div>
<!-- /Callout -->
<%= javascript_include_tag 'quotes', :defer => "defer" %>

<!-- Register -->
<% if !current_user %>
<div id="register" class="register">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-12 text-center">
          <h1>Sluit je aan bij de community</h1>
          <h2>Aanmelden neemt minder dan 2 minuten in beslag - en het is gratis</h2>
          <hr>
        </div>

        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <h3>De voordelen van aanmelden met Facebook</h3>
            <ul>
              <li>Je hoeft geen extra login en paswoord te onthouden</li>
              <li>Je logt in met één simpele muisklik</li>
              <li>Je ziet meteen wie van je Facebook-vrienden ook actief is op Beatfuel</li>
            </ul>
            <a class="btn btn-blue fb_sign_in" href="/auth/facebook"><i class="fa fa-facebook"></i> Registreer nu met Facebook</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- stats -->
<div id="stats" class="stats">
  <div class="container">
    <div class="row">
      <!--Als je ze smaller tegen elkaar wil gebruik je md2 en zet je ook een col-md-offset-2 voor margin ;)-->
      <div class="col-md-3 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-user"></i>
          <h4>Gebruikers</h4>
          <p class="statsinfo"><%= current_users %></p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-headphones"></i>
          <h4>Mixtapes</h4>
          <p class="statsinfo"><%= current_mixtapes %></p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-thumbs-o-up"></i>
          <h4>Recommandaties</h4>
          <p class="statsinfo"><%= current_recommendations %></p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-camera"></i>
          <h4>Afbeeldingen</h4>
          <p class="statsinfo"><%= current_images %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /stats -->
