<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title><%= content_for?(:title) ? yield(:title) : "Beatfuel" %></title>
  <!-- Font Awesome -->
  <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', media: 'all' %>
  <%= stylesheet_link_tag    "application.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application.js", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<%= render 'shared/nav' %>

<header>
  <section class="vert-text">
    <%= yield :header %>
  </section>
</header>

<%= yield %>

<%= render 'shared/footer' %>

</body>
</html>
